<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name ="backupRestoreSetting" type="SQLServerDatabaseBackup.Configuration.BackupRestoreActionConfigSection, SQLServerDatabaseBackup.Configuration" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SQLServerDatabaseBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <userSettings>
    <SQLServerDatabaseBackup.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </SQLServerDatabaseBackup.Properties.Settings>
  </userSettings>

  <backupRestoreSetting>
    <BackupRestoreActions>
      <BackupRestoreAction 
        description ="test" 
        fromServer="localhost" 
        fromServerInstanceName = ""
        fromDatabase="HangFireICF" 
        SQLusernameFromServer="testuser2"
        SQLpasswordFromServer="test"
        UseWindowsAuthenticationFromServer="true"
        toServer="WIN-AKI1O7B20B7" 
        toServerInstanceName = "SQLEXPRESS"
        toDatabase="HangFireICF2" 
        SQLusernameToServer="andrew"
        SQLpasswordToServer="worldbook2"
        UseWindowsAuthenticationToServer="false"
        replace ="False" />  
    </BackupRestoreActions>
  </backupRestoreSetting>
</configuration>
